/* main {
  width: 13%;
  background-color: #909090;
  height: 100%;
  position: fixed;
}

.user_img {
  width: 60%;
}

.sideNav_container {
  width: 90%;
  margin-left: 5%;
}

.menu_item {
  width: 100%;
}

.dashboard-icon {
  width: 10%;
} */
